.RequestimageContainer{
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border: 1px solid #AEAAAE;
}

.image-container{
    border-radius: 50px;
    // border: 1px solid #AEAAAE;
}

.Request-main-container{
    width: 100%;
    // border: 2px solid red;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

}

.card-details-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between elements */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Handle overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}


.Request-inner-container{
    display: flex;

}

.request-button-container{
    display: flex;
}

.textfield-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
}
.textfield-conte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}