.otpsent {
    margin-left: 33%;
}
.form-group2 {
    margin-left: 37%;
    margin-top: 10%;
}
.text-center2 {
    margin-left: 38%;
}
.resend {
    margin-left: 40%;
    margin-top: 3%;
    color: #e72b4a;
}
