.Appointment-card{
    display: flex;
    justify-content: space-around;
}

.DocNavBar-Container {
 display: flex;
 justify-content: flex-start;
 margin: 2% 1%;
}

.DocNavBar-Container > a {
    text-decoration: none;
    margin: 0.7%;
    // border: 1px solid #e72b4a;
    // padding: 4px 20px;
    border-radius: 8px;
    color: #313033;
    cursor: pointer;
    padding: 0.625rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.DocNavBar-Container a.active {
    background-color: #e72b4a;
    color: white;
}