.horizontal-scroll-container {
    width: 100%;
    height: fit-content;
    display: flex;
    // justify-content: center;
}

.horizontal-scroll-container > div {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.horizontal-scroll-container > div::-webkit-scrollbar {
    display: none;
  }

.horizontal-scroll-container > div > div {
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 620px) {
    .horizontal-scroll-container > div {
        /* background-color: #717171;  */
        // justify-content: center;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }
}
