// Healthcare Facility Card - Matching DoctorCard design
.healthcare-facility-card {
    height: "100px";
    width: "100px";
    background-color: aqua;
}

.healthcare-facility-card > img {
    width: fit-content;
}
