.main-container3{
    // position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    border: 1px solid  #e82b4a;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    padding: 2rem;
    border-radius: 10px;
    

}



.Earning-container{
    
    position: relative;
    display: flex;
    margin-top: 1rem;
    border: 1px solid  #E6E1E5;
    width: 100%;
    align-items: center;
    padding: 4rem;
    gap: 20rem;
}

.Earn1{
    display: flex;
    flex-direction: column;
    // border: 1px solid;
    align-items: center;

}

.Monthly-Earnings{
    // border: 1px solid;
    margin-top: 2rem;
}

.Earning-Table{

    position: relative;
    display: flex;
    margin-top: 2rem;
    border: 1px solid  #E6E1E5;
    width: 100%;
    align-items: center;
    
}

.page-box{
    position: relative;
    display: flex;
    margin-top: 2rem;
    border: 1px solid  #E6E1E5;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: black;
}

