@use "../../static/scss/base/variables" as *;
@use "../../static/scss/main.scss" as *;

// OLD: This was conflicting with BodyDashboard styles
// .usage {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;
// }

// FIXED: Use more specific class name to avoid conflicts
.usage-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .component-library {
        margin: 20px 50px;
        text-align: center;
        width: 100%;

        .items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            width: 100%;
        }
    }
}
