.NavBar-Container-HCF-Doctor > a {
    text-decoration: none;
    margin: 0.7%;
    border: 1px solid #e72b4a;
    padding: 4px 20px;
    border-radius: 100px;
    color: #e72b4a;
    cursor: pointer;
}

.NavBar-Container-HCF-Doctor a.active {
    background-color: #e72b4a;
    color: white;
}
