.name-email{
    // border: 1px solid;
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

}

.mobile-pass{
    // border: 1px solid;
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

}

.confirm-pass{
    // border: 1px solid;
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.btn-save{
    // border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}