body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo-container {
    width: 180px;
}

.logo-img {
    width: 180px;
    position: relative;
    top: 25%;
    left: 13%;
}

.LandingPage-Container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.NavBar-Container {
    float: right;
}

.NavBar-Container > ul {
    display: flex;
    list-style-type: none;
}

.NavBar-Container > ul > li {
    display: inline-block;
    margin: 0px 2%;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
    width: 6em;
}

#Login-button {
    // position: relative;
    // top: -7px;
    background-color: #e72b4a;
    text-align: center;
    border-radius: 25px;
    // display: flex;
    // width: 170px;
    // height: 48px;
    // padding: 8px 16px;
    // justify-content: center;
    // align-items: center;
    // gap: 8px;
    // flex-shrink: 0;
}

#Login-button > a {
    color: #fff;
    text-decoration: none;
    padding: 0.5%;
}
